<% @contestants.each do |contestant| %>
  <h1><%= contestant.name %></h1>
  <p>Projects:
  <% contestant.projects.each do |project| %>
    <%= project.name %>
  <% end %>
  </p>
  <br>
  <br>
<% end %>
